.form-control {
  width: 250px; }

.content {
  padding-bottom: 40px; }

.container {
  box-shadow: black;
  border: none;
  margin-top: 100px;
  border: 2px solid black; }

body {
  background-color: rgba(255, 255, 255, 0.322); }
